@{
    ViewBag.Title = "UnderConstruction";
}

@{
    Layout = "~/Views/Shared/_ColumnsTwoIntro.cshtml";
}

<div style="width:100%;text-align: center;">
    <img src="@Url.Content("~/Content/images/under_construction.jpg")" style="width:100%;" />
</div>